@charset "UTF-8";
.account-management .col-lg-9 {
    width: 75%;
}

.account-management .main-section {
    padding-left: 0;
    padding-right: 0;
}

.account-management .col-lg-1, .account-management .col-lg-2, .account-management .col-lg-3, .account-management .col-lg-4, .account-management .col-lg-5, .account-management .col-lg-6, .account-management .col-lg-7, .account-management .col-lg-8, .account-management .col-lg-9, .account-management .col-lg-10, .account-management .col-lg-11, .account-management .col-lg-12 {
    float: left;
}

.account-management .col-lg-1, .account-management .col-lg-2, .account-management .col-lg-3, .account-management .col-lg-4, .account-management .col-lg-5, .account-management .col-lg-6, .account-management .col-lg-7, .account-management .col-lg-8, .account-management .col-lg-9, .account-management .col-lg-10, .account-management .col-lg-11, .account-management .col-lg-12, .account-management .col-md-1, .account-management .col-md-2, .account-management .col-md-3, .account-management .col-md-4, .account-management .col-md-5, .account-management .col-md-6, .account-management .col-md-7, .account-management .col-md-8, .account-management .col-md-9, .account-management .col-md-10, .account-management .col-md-11, .account-management .col-md-12, .account-management .col-sm-1, .account-management .col-sm-2, .account-management .col-sm-3, .account-management .col-sm-4, .account-management .col-sm-5, .account-management .col-sm-6, .account-management .col-sm-7, .account-management .col-sm-8, .account-management .col-sm-9, .account-management .col-sm-10, .account-management .col-sm-11, .account-management .col-sm-12, .account-management .col-xs-1, .account-management .col-xs-2, .account-management .col-xs-3, .account-management .col-xs-4, .account-management .col-xs-5, .account-management .col-xs-6, .account-management .col-xs-7, .account-management .col-xs-8, .account-management .col-xs-9, .account-management .col-xs-10, .account-management .col-xs-11, .account-management .col-xs-12 {
    position: relative;
    min-height: 1px;
}

div {
    display: block;
}

.account-management .main-section .title-section.mobile-title {
    padding: 0;
    text-align: left;
}
.title-section.mobile-title {
    border: none;
    width: 100%;
    padding: 15px 20px;
}

.account-management .visible-lg, .account-management .visible-lg-block, .account-management .visible-lg-inline, .account-management .visible-lg-inline-block, .account-management .visible-md, .account-management .visible-md-block, .account-management .visible-md-inline, .account-management .visible-md-inline-block, .account-management .visible-sm, .account-management .visible-sm-block, .account-management .visible-sm-inline, .account-management .visible-sm-inline-block, .account-management .visible-xs, .account-management .visible-xs-block, .account-management .visible-xs-inline, .account-management .visible-xs-inline-block {
    display: none!important;
}

button {
    cursor: pointer;
}

button {
    appearance: auto;
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
    margin: 0em;
}

.css-242jva {
    height: 48px;
    width: 50px;
    float: left;
}

.jss2 {
    display: inline-block;
}

.css-1m1xti2 {
    top: 55%;
    left: 50%;
    font-size: 2em;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    position: relative;
}

.MuiSvgIcon-root {
    fill: currentColor;
    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 1.5rem;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    flex-shrink: 0;
    user-select: none;
}

.account-management .main-section .title-section.mobile-title .section-title {
    border-left: 1px solid #ebebeb;
    float: none;
}
.account-management .main-section .title-section.mobile-title .section-title {
    float: left;
    padding: 13.5px;
    font-size: 18px;
    display: inline-block;
}
.main-section .title-section .section-title {
    text-transform: uppercase;
}

.body-medium, .brutal-type--medium, .header-column-multiple, .heading3-medium, .heading4-medium, .heading5-medium, .heading6-medium, .lead-medium, .main-section .payment-history-table tr td.sub-item span.bold, .main-section .payment-history-table tr td.table-data span.bold, .main-section .title-section .section-title {
    font-family: BrutalTypeMedium;
}

.title-section.mobile-title .section-title {
    text-align: left;
    margin: 0;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.container.payment-container {
    width: 100%;
    margin: auto;
}
.container.payment-container {
    padding: 0;
}

.account-management .container:after, .account-management .container:before {
    display: table;
    content: " ";
}

.main-container-payment, .main-container-title {
    background-color: #fff;
    border: 1px solid #ebebeb;
    padding: 35px 30px 8px;
    border-bottom: 0;
}

.title-section .title {
    font-size: 24px;
    font-family: BrutalTypeMedium;
        text-transform: uppercase;
}

.account-management p {
    margin: 0 0 10px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.title-section .description {
    color: #999;
    line-height: 1.4285;
    padding-top: 10px;
}

.caption-regular, .title-section .description {
    font-size: 14px;
}
.body-regular, .brutal-type--regular, .caption, .caption-regular, .heading4-regular, .heading5-regular, .heading6-regular, .lead, .title-section .description {
    font-family: BrutalType;
}

.results-container {
    background: #fff;
    padding: 35px 14px;
    border: 1px solid #ebebeb;
    border-radius: 0;
}

.main-container-transaction {
    background: #fff;
    border-top: 0;
    border-radius: 0;
}

.main-section .payment-history-table {
    width: 100%;
}

table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: grey;
}

colgroup {
    display: table-column-group;
}

.transactionHistoryView .col-date {
    width: 100px;
}

col {
    display: table-column;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: -internal-center;
}

.main-section .payment-history-table th.table-header {
    padding: 15px 8px;
    line-height: 1.42857143;
    text-align: left;
}

.main-section .payment-history-table th.table-header button {
    border: none;
    font-size: .85em;
    text-transform: uppercase;
    background: transparent;
}

.body-bold, .brutal-type--bold, .heading1, .heading3, .heading3-bold, .heading4, .heading4-bold, .heading5-bold, .heading6-bold, .lead-bold, .main-container-transaction.mobile .payment-history-table th.table-header, .main-container-transaction .table-navigation .nav-btn-section .nav-btn, .main-section .payment-history-table th.table-header button {
    font-family: BrutalTypeBold;
}

button {
    cursor: pointer;
}

.main-container-transaction .table.payment-history-table .mobile-table-body {
    border-bottom: 1px solid rgba(20,20,20,.16);
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
    border-style: none;
}

.main-section .payment-history-table tr td.sub-item, .main-section .payment-history-table tr td.table-data {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: middle;
    font-size: .85em;
}

.main-container-transaction .table.payment-history-table .table-data {
    padding: 20px 8px;
}

.main-section .payment-history-table tr td.table-data {
    text-align: left;
}

td {
    vertical-align: inherit;
}

.main-container-transaction .table.payment-history-table .mobile-table-body .table-data .order-description .expand-btn {
    text-align: left;
    padding: 0;
}

.main-section .payment-history-table tr td.table-data .expand-btn {
    border: none;
    background: none;
    color: #0074e4;
}

.__react_component_tooltip.place-top {
    margin-top: -10px;
}

.__react_component_tooltip.type-dark {
    color: #fff;
    background-color: #222;
}

.__react_component_tooltip {
    border-radius: 3px;
    display: inline-block;
    font-size: 13px;
    opacity: 0;
    padding: 8px 21px;
    position: fixed;
    pointer-events: none;
    transition: opacity 0.3s ease-out;
    top: -999em;
    visibility: hidden;
}

.__react_component_tooltip.place-top:before {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    bottom: -8px;
    left: 50%;
    margin-left: -10px;
}

.__react_component_tooltip:before, .__react_component_tooltip:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
}

.__react_component_tooltip.type-dark.place-top:after {
    border-top-color: #222;
    border-top-style: solid;
    border-top-width: 6px;
}

.__react_component_tooltip.place-top:after {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    bottom: -6px;
    left: 50%;
    margin-left: -8px;
}

.__react_component_tooltip:before, .__react_component_tooltip:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
}

.main-container-transaction .table.payment-history-table .mobile-table-body .price {
    white-space: nowrap;
}
.main-section .payment-history-table tr td.table-data.non-credit {
    padding-left: 17px;
}
.main-container-transaction .table.payment-history-table .table-data {
    padding: 20px 8px;
}
.main-section .payment-history-table tr td.table-data {
    text-align: left;
}
.main-section .payment-history-table tr td.sub-item, .main-section .payment-history-table tr td.table-data {
    line-height: 1.42857143;
    vertical-align: middle;
    font-size: .85em;
}

.MuiSvgIcon-root {
    fill: currentColor;
    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 1.5rem;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    flex-shrink: 0;
    user-select: none;
}

.main-container-transaction .table.payment-history-table .mobile-table-body {
    border-bottom: 1px solid rgba(20,20,20,.16);
}

.main-container-transaction .table.payment-history-table .table-data {
    padding: 20px 8px;
}

.main-section .payment-history-table tr td.table-data {
    text-align: left;
}

.main-section .payment-history-table tr td.sub-item, .main-section .payment-history-table tr td.table-data {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: middle;
    font-size: .85em;
}

td {
    display: table-cell;
}

.__react_component_tooltip {
    border-radius: 3pxpx;
    display: inline-block;
    font-size: 13px;
    left: -999em;
    opacity: 0;
    padding: 8px 21px;
    position: fixed;
    pointer-events: none;
    transition: opacity 0.3s ease-out;
    top: -999em;
    visibility: hidden;
    z-index: 999;
}

.__react_component_tooltip.place-top {
    margin-top: -10px;
}

.__react_component_tooltip.type-dark {
    color: #fff;
    background-color: #222;
}

.__react_component_tooltip.place-top:before {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    bottom: -8px;
    left: 50%;
    margin-left: -10px;
}

.__react_component_tooltip:before, .__react_component_tooltip:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
}

.__react_component_tooltip.type-dark.place-top:after {
    border-top-color: #222;
    border-top-style: solid;
    border-top-width: 6px;
}

.__react_component_tooltip.place-top:after {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    bottom: -6px;
    left: 50%;
    margin-left: -8px;
}

.__react_component_tooltip:before, .__react_component_tooltip:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
}

.main-container-transaction .table.payment-history-table .table-data.txtright {
    text-align: right;
}


.account-management .container:after {
    clear: both;
}

button#btn-submit {
    background-color: #0074e4;
    color: white;
}

.MuiButtonBase-root {
    color: inherit;
    border: 0;
    cursor: pointer;
    margin: 0;
    display: inline-flex;
    outline: 0;
    padding: 0;
    position: relative;
    align-items: center;
    user-select: none;
    border-radius: 0;
    vertical-align: middle;
    -moz-appearance: none;
    justify-content: center;
    text-decoration: none;
    background-color: transparent;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}

.MuiButton-root {
    color: #fff;
    padding: 5px 20px;
    font-size: 0.75rem;
    min-width: 40px;
    box-sizing: border-box;
    min-height: 60px;
    text-align: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-family: Brutal, sans-serif;
    font-weight: 500;
    line-height: 1rem;
    border-radius: 4px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    background-color: #0078f2;
}