@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');


* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	background: #121212;
	margin: 0;
	height: 100%;
	
}

.column {
    float: left;
    padding: 20px;
    min-height: 450vh;
}

.column.side {
    width: 15%;
    background-color: #121212;
}

.column.middle {
    width: 70%;
    background-color: #121212;
}

.column.middle .main {
    padding: 10px 10px 30px 10px;
    
}

h3 {
	text-align: center;
	padding-bottom: 30px;
}

/* .faq_main { */
/* 	padding-bottom: 10px; */
/* 	color: #ddd; */
/* } */





textarea:focus, input:focus, .uneditable-input:focus {   
    border-color: #d32f2f !important;
    box-shadow: 0 1px 1px #d32f2f  inset, 0 0 8px rgba(229, 103, 23, 0.6) !important;
    outline: 0 none !important;
}

