@charset "UTF-8";
html {
	width: 100%;
	height: 100vh;
	background-color: RGB(18,18,18);
}

html * {
	word-wrap: break-word!important;
    word-break: keep-all!important;
}

body {
    width: 100%;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    z-index: auto;
}

.body-container {
	position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: start;
    justify-content: start;
    min-height: 100vh;
    width: 100%;
    background: rgb(18, 18, 18);
    color: rgb(245, 245, 245);	
}

:-webkit-any(article, aside, nav, section) h1 {
    font-size: 50px;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin: 0px;
}

:-webkit-any(article, aside, nav, section) h1 {
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

*, *::after, *::before {
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
}
*, *::before, *::after {
    box-sizing: inherit;
}

*, ::after, ::before {
    text-size-adjust: 100%;
}

*, ::before, ::after {
    box-sizing: inherit;
}

div {
    display: block;
}

a {
    -webkit-text-decoration: none;
    text-decoration: none;
    -moz-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: default;
}

a:-webkit-any-link {
    cursor: pointer;
    text-decoration-line: none;
}

img, svg {
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
}


img, svg {
    -webkit-user-drag: none;
    user-select: none;
    pointer-events: none;
}

input, label, select, button, textarea {
    margin: 0;
    border: 0;
    padding: 0;
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
    background: none;
    line-height: 1;
    font-family: Brutal,sans-serif;
    font-weight: 400;
    font-display: swap;
}
button {
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -moz-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background: rgba(0, 0, 0, 0);
    border-width: 0;
    cursor: pointer;
    margin: 0;
    padding: 0;
    text-align: left;
    font-family: Brutal,sans-serif;
    font-weight: 400;
    font-display: swap;
}

input, label, select, button, textarea {
    margin: 0px;
    border: 0px;
    padding: 0px;
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
    background: none;
    line-height: 1;
    font-family: Brutal, sans-serif;
    font-weight: 400;
}

button {
    outline: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    appearance: none;
    background: rgba(0, 0, 0, 0);
    border-width: 0px;
    cursor: pointer;
    margin: 0px;
    padding: 0px;
    text-align: left;
    font-family: Brutal, sans-serif;
    font-weight: 400;
}

.css-1ktypff {
	width: 100%;
    color: rgb(245, 245, 245);
    background: rgb(18, 18, 18);
    position: relative;
}

.css-1n8met0 {
    padding-top: 0;
}

.css-s45c7f {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    max-width: 1600px;
}

.css-1sqqqs8 {
    padding-bottom: 90px;
}

.css-1q9jlv0:last-child {
    margin-bottom: 0px;
}

.css-1q9jlv0 {
    margin-top: 0px;
}

.css-yewo14 {
    margin: 0px auto;
    max-width: 1920px;
}

.css-15u9bv0 {
    margin-bottom: 50px;
}


.css-map4tx {
    display: flex;
    flex-flow: row wrap;
    flex-wrap: nowrap;
}

.css-11fvpc2 {
    -webkit-box-flex: 1;
    flex-grow: 1;
    margin-bottom: 0px;
}

.css-2zb5l7:last-of-type {
    margin-bottom: 0px;
}

.css-2zb5l7 {
    margin-bottom: 15px;
}

.css-h8tfh5 {
    position: relative;
    background-color: rgb(32, 32, 32);
    border-radius: 4px;
    pointer-events: auto;
}

.css-id4ofr {
    display: flex;
    padding: 20px;
    flex-direction: row;
}

.css-fybeq {
    display: flex;
    flex-shrink: 0;
    height: 100%;
    margin-right: 20px;
}

.css-1nvf6h0 {
    position: relative;
}

.css-167dhte {
    width: 131px;
}

.css-167dhte > div {
    -webkit-box-pack: center;
    justify-content: center;
}

.css-yb58t8 {
    position: relative;
    padding-bottom: calc(4 / 3 * 100%);
}

.css-han5dv {
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
}

.css-167dhte img {
    border-radius: 4px;
}


.css-11h61hf {
    max-width: 100%;
    height: auto;
    display: block;
    image-rendering: -webkit-optimize-contrast;
    transition: opacity 125ms ease-in-out 0s;
    opacity: 1;
}

.css-19o6pkz {
    display: flex;
    width: 100%;
    flex-flow: column wrap;
}

.css-rosb62 {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
}

.css-z5atxi {
    display: flex;
    flex-direction: column;
    -webkit-box-flex: 1;
    flex-grow: 1;
}

.css-tl38pn {
    display: flex;
    flex-flow: row wrap;
    margin: -5px -2.5px;
}

.css-2b03zn {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    margin: 5px 2.5px;
}

.css-15fdr99 {
    -webkit-transition: color 125ms ease-in-out;
    transition: color 125ms ease-in-out;
    color: rgb(245, 245, 245);
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 500;
}

.css-1t8lqo3 {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    color: rgb(245, 245, 245);
    padding: 5px 10px;
    position: relative;
    border-radius: 4px;
}

.css-14mezjk {
    display: flex;
    align-items: flex-start;
    -webkit-box-flex: 1;
    flex-grow: 1;
    margin-top: 5px;
}

.css-12d0yut {
    font-size: 22px;
    line-height: 30px;
    letter-spacing: -0.4px;
    color: rgb(245, 245, 245);
}

.css-vetbs0 {
    display: grid;
}

.css-8uhtka {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.css-pd895a {
     display: flex;
    flex-shrink: 0;
    margin-left: 8px;
}

.css-1ehhp1w {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.css-157lcjk {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: 10px;
}

.css-l24hbj {
    display: flex;
}

.css-11ksoqt {
    -webkit-transition: color 125ms ease-in-out;
    transition: color 125ms ease-in-out;
    color: rgba(245, 245, 245, 0.6);
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0;
}

.css-1rcj98u {
    -webkit-text-decoration: line-through;
    text-decoration: line-through;
}

.css-l24hbj {
    margin-left: -10px;
    display: flex;
}

.css-z3vg5b {
    -webkit-transition: color 125ms ease-in-out;
    transition: color 125ms ease-in-out;
    color: rgb(245, 245, 245);
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0;
}

.css-hkh81z {
    margin-top: 8px;
}

.css-iqno47 {
    -webkit-transition: color 125ms ease-in-out;
    transition: color 125ms ease-in-out;
    color: rgb(245, 245, 245);
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0;
}

.css-bfzj8t {
    display: flex;
    width: 100%;
    flex-flow: column wrap;
    -webkit-box-align: initial;
    align-items: initial;
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.css-ht241g {
    width: 100%;
    margin-bottom: 20px;
}

.css-ht241g > div {
    max-width: 500px;
}

.css-vs1xw0 {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
}

.css-7whenc {
    display: flex;
    width: 100%;
}

.css-cgc87z {
    display: flex;
    flex-direction: column;
    font-weight: 600;
    width: 100%;
}

.css-25dfdw {
    transition: color 125ms ease-in-out 0s;
    color: rgba(245, 245, 245, 0.6);
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 500;
}

.css-1d3w5wq {
    width: 100%;
}

.css-dcpx1m {
    -webkit-transition: color 125ms ease-in-out;
    transition: color 125ms ease-in-out;
    color: rgba(245, 245, 245, 0.6);
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0;
}

.css-9yskcp {
    display: flex;
    flex-direction: column;
    margin-top: auto;
}

.css-1aj3lkt {
    display: flex;
    flex-flow: column nowrap;
    -webkit-box-flex: 1;
    flex-grow: 1;
    margin-bottom: 0px;
}

.css-kopxry {
    font-size: 16px;
    font-weight: normal;
    line-height: 20px;
    letter-spacing: 0px;
}

.css-e6kwg0 {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.css-1nau1p3:not(:last-child), .css-1nau1p3:not(:last-child) {
    margin-right: 1em;
}

.css-staqnu {
    display: block;
    line-height: 0;
    width: 12px;
    height: 12px;
}

svg:not(:root) {
    overflow: hidden;
}

:not(svg) {
    transform-origin: 0px 0px;
}

.css-w1atjl {
    width: 100%;
    height: 100%;
}

.css-hf0z5i {
    display: flex;
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-shrink: 0;
    align-items: flex-end;
}

.css-4kb9lt {
	align-items: flex-end;
    -webkit-box-pack: end;
    justify-content: flex-end;
    display: flex;
    width: 100%;
    flex-flow: row nowrap;
    flex-shrink: 0;
}

.css-1yu35vh {
    padding: 0px;
    border: none;
    font: inherit;
    color: inherit;
    background-color: inherit;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    pointer-events: all;
    position: relative;
    border-radius: 1px;
}

.css-s5xdrg {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.css-1ip8dtk {
    display: block;
    line-height: 0;
    border-radius: 50%;
    border: 2px solid rgba(245, 245, 245, 0.6);
    height: 15px;
    width: 15px;
    padding: 1px;
    margin-right: 6px;
}

.css-w1atjl {
    width: 100%;
    height: 100%;
}

.css-z3vg5b {
    -webkit-transition: color 125ms ease-in-out;
    transition: color 125ms ease-in-out;
    color: rgb(245, 245, 245);
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0;
}

.css-gdh3kc {
    border-bottom: 1px solid rgba(245, 245, 245, 0.6);
    color: rgba(245, 245, 245, 0.6);
}

.css-tg7p45 {
    margin-left: 20px;
}

.css-1yu35vh {
    padding: 0px;
    border: none;
    font: inherit;
    color: inherit;
    background-color: inherit;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    pointer-events: all;
    position: relative;
    border-radius: 1px;
}

.css-s5xdrg {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.css-z3vg5b {
    -webkit-transition: color 125ms ease-in-out;
    transition: color 125ms ease-in-out;
    color: rgb(245, 245, 245);
    font-size: 16px;
    font-weight: normal;
    line-height: 20px;
    letter-spacing: 0px;
}

.css-gdh3kc {
    border-bottom: 1px solid rgba(245, 245, 245, 0.6);
    color: rgba(245, 245, 245, 0.6);
}

.css-1f1kwdk {
    flex-shrink: 0;
    max-width: 40px;
    margin-right: 10px;
}

.css-1gty6cv {
    font-size: 50px;
    line-height: 55px;
    letter-spacing: -1px;
    margin-top: 0px;
}

.css-7i9tj1 {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

.css-1791idi {
    width: 296px;
    margin-left: 36px;
    flex-shrink: 0;
}

.css-1fttcpj {
    display: flex;
    flex-direction: column;
}

.css-fvtxyy {
    margin-bottom: 20px;
}

.css-sdue89 {
    margin-top: 15px;
}

.css-mywzwd {
	transition: color 125ms ease-in-out 0s;
    color: rgb(245, 245, 245);
    font-weight: 300;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: -0.7px;
}

.css-1gty6cv {
    font-size: 50px;
    line-height: 55px;
    letter-spacing: -1px;
}

.css-1eoy87d {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.css-3d5xom {
    margin-right: 20px;
}

.css-z3vg5b {
    -webkit-transition: color 125ms ease-in-out;
    transition: color 125ms ease-in-out;
    color: rgb(245, 245, 245);
    font-size: 16px;
    font-weight: normal;
    line-height: 20px;
    letter-spacing: 0px;
}

.css-1eoy87d {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.css-3d5xom {
    margin-right: 20px;
}

.css-z3vg5b {
    -webkit-transition: color 125ms ease-in-out;
    transition: color 125ms ease-in-out;
    color: rgb(245, 245, 245);
    font-size: 16px;
    font-weight: normal;
    line-height: 20px;
    letter-spacing: 0px;
}

.css-u9q8d2 {
    margin-top: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding-top: 20px;
}

.css-1eoy87d {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.ko-locale * {
    word-wrap: break-word!important;
    word-break: keep-all!important;
	margin-right: 20px;
}

.css-b3sav2 {
    transition: color 125ms ease-in-out 0s;
    color: rgb(245, 245, 245);
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    letter-spacing: 0px;
}

.css-b3sav2 {
    transition: color 125ms ease-in-out 0s;
    color: rgb(245, 245, 245);
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    letter-spacing: 0px;
}

.css-1fkya4n {
    margin-top: 20px;
}

.css-20a60t {
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 500;
    position: relative;
    border-radius: 4px;
    text-transform: uppercase;
    text-align: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    line-height: 15px;
    padding: 0px 20px;
    height: 50px;
    display: flex;
    width: 100%;
    min-width: auto;
    background-color: rgb(0, 116, 228);
    color: rgb(245, 245, 245);
}

/* 빈 장바구니 */
.css-map4tx {
    flex-wrap: nowrap;
    display: flex;
    flex-flow: row wrap;
}

.css-11fvpc2 {
    -webkit-box-flex: 1;
    flex-grow: 1;
    margin-bottom: 30px;
}

.css-zigog8 {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
}

.css-g46w8s {
    margin-bottom: 30px;
}

.css-cvmfyy {
    display: block;
    line-height: 0;
    width: 80px;
    height: 80px;
    color: rgb(58, 58, 58);
}

.css-w1atjl {
    width: 100%;
    height: 100%;
}

.css-cn3xcj {
    margin-bottom: 12px;
}

.css-mywzwd {
    transition: color 125ms ease-in-out 0s;
    color: rgb(245, 245, 245);
    font-weight: 300;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: -0.7px;
}

.css-z3vg5b {
    -webkit-transition: color 125ms ease-in-out;
    transition: color 125ms ease-in-out;
    color: rgb(245, 245, 245);
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0;
}

.css-8dq9ld {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    color: rgba(245, 245, 245, 0.6);
}