@charset "UTF-8";
*, *::before, *::after {
    box-sizing: inherit;
}

div {
    display: block;
}
.MuiDialog-container {
    height: 100%;
    outline: 0;
}

.MuiDialog-scrollBody {
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
}

.MuiButton-fullWidth {
    width: 100%;
}

.MuiButton-disableElevation {
    box-shadow: none;
}

.MuiButton-containedPrimary {
    color: #fff;
    background-color: #0074E4;
}

.MuiDialog-paperWidthSm {
    max-width: 470px;
}

.MuiDialog-paperScrollBody {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    background-color: #121212;
}

.MuiDialog-paper {
    color: rgba(255, 255, 255, 0.72);
    width: 100%;
    margin: 32px;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #202020;
}

.MuiPaper-elevation0 {
    box-shadow: none;
}

.MuiPaper-rounded {
    border-radius: 4px;
}

/* .MuiPaper-root {
    color: #fff;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-color: #202020;
} */

.eoYCft.eoYCft {
    text-align: center;
}

.MuiDialogContent-root:last-child {
    padding-bottom: 60px;
}

.MuiDialogContent-root:first-child {
    padding-top: 50px;
}

.MuiDialogContent-root {
    flex: 1 1 auto;
    height: 100%;
    padding: 45px 60px 20px;
    overflow-x: hidden;
    overflow-y: auto;
    padding-top: 15px;
    padding-left: 55px;
    padding-right: 55px;
    padding-bottom: 15px;
    -webkit-overflow-scrolling: touch;
}

.yeDSp {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.bEiEtT {
    margin-bottom: 30px;
}


.jUHlxN {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(255, 255, 255);
}

svg:not(:root) {
    overflow: hidden;
}

.ljiSme {
    width: 50px;
    height: 50px;
    margin-left: 3px;
    margin-right: 3px;
    transform: translateY(2px);
}

.idiyhX {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 380px;
    margin-top: 30px;
}

.MuiTypography-alignCenter {
    text-align: center;
}

.MuiTypography-subtitle2 {
    font-size: 1.125rem;
    font-family: Brutal, sans-serif;
    font-weight: 500;
    line-height: 1.5625rem;
    letter-spacing: 0.5px;
}

.MuiTypography-root {
    margin: 0;
    text-overflow: ellipsis;
}

.MuiTypography-colorTextPrimary {
    color: #fff;
}

h6 {
    display: block;
    font-size: 0.67em;
    margin-block-start: 2.33em;
    margin-block-end: 2.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

/* form {
    display: block;
    margin-top: 0em;
}
 */
.iMhQAk {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 380px;
    margin-top: 20px;
}

.MuiAutocomplete-fullWidth {
    width: 100%;
}

.MuiAutocomplete-root {
    color: rgba(255, 255, 255, 0.72);
    font-size: 0.875rem;
    line-height: 20px;
}

.MuiFormControl-fullWidth {
    width: 100%;
}

.MuiFormControl-root {
    border: 0;
    height: 85px;
    margin: 0;
    display: inline-flex;
    padding: 0;
    position: relative;
    min-width: 0;
    flex-direction: column;
    vertical-align: top;
}

.MuiInputLabel-outlined.MuiInputLabel-shrink {
    transform: translate(20px, 10px) scale(0.875);
}

.MuiFormLabel-root.Mui-disabled {
    opacity: 0.5;
}

.Mui-disabled {
    opacity: 0.5;
}

.MuiInputLabel-outlined {
    margin: 0;
    z-index: 1;
    transform: translate(20px, 20px) scale(1);
    line-height: 1.4;
    pointer-events: none;
}

.MuiInputLabel-animated {
    transition: color 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms,transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
}

.MuiInputLabel-shrink {
    transform: translate(0, 1.5px) scale(0.75);
    transform-origin: top left;
}

.MuiInputLabel-formControl {
    top: 0;
    left: 0;
    position: absolute;
    transform: translate(0, 24px) scale(1);
}

.MuiInputLabel-root {
    color: rgba(255, 255, 255, 0.72);
    display: block;
    font-size: 0.875rem;
    font-family: Brutal, sans-serif;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0.2px;
    text-transform: unset;
    transform-origin: top left;
}

.MuiFormLabel-root {
    color: #fff;
    padding: 0;
    font-size: 0.75rem;
    text-align: center;
    font-family: Brutal, sans-serif;
    font-weight: 500;
    line-height: 1;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

label {
    cursor: default;
}

.iWvwJB {
    display: flex;
}

.MuiFormControl-fullWidth {
    width: 100%;
}

.MuiFormControl-root {
    border: 0;
    height: 85px;
    margin: 0;
    display: inline-flex;
    padding: 0;
    position: relative;
    min-width: 0;
    flex-direction: column;
    vertical-align: top;
}

.MuiInputLabel-outlined {
    margin: 0;
    z-index: 1;
    transform: translate(20px, 20px) scale(1);
    line-height: 1.4;
    pointer-events: none;
}

.MuiInputLabel-animated {
    transition: color 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms,transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
}

.MuiFormLabel-asterisk.Mui-error {
    color: #DE3341;
}

.MuiInputLabel-asterisk {
    color: #FFA640;
    margin-left: 5px;
}
.MuiOutlinedInput-root {
    position: relative;
    border-radius: 4px;
}

.MuiInputBase-fullWidth {
    width: 100%;
}

.MuiInputBase-root {
    color: #fff;
    cursor: text;
    display: inline-flex;
    position: relative;
    font-size: 0.875rem;
    box-sizing: border-box;
    align-items: center;
    font-family: Brutal, sans-serif;
    font-weight: 400;
    line-height: 1.43;
    letter-spacing: 0.014em;
}

label + .MuiInputBase-formControl > .MuiInputBase-input {
    padding-top: 30px;
    padding-bottom: 10px;
}

.MuiInputBase-input:invalid {
    box-shadow: none;
}

input:not(:-webkit-autofill) {
    background: transparent;
    box-shadow: none;
    animation-name: onAutoFillCancel;
}

.MuiInputBase-input {
    font: inherit;
    color: currentColor;
    width: 100%;
    border: 0;
    height: 60px;
    margin: 0;
    display: block;
    padding: 20px;
    min-width: 0;
    background: none;
    box-sizing: border-box;
    animation-name: mui-auto-fill-cancel;
    letter-spacing: inherit;
    animation-duration: 10ms;
    -webkit-tap-highlight-color: transparent;
}

input {
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    margin: 0em;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}

.MuiOutlinedInput-root.Mui-error .MuiOutlinedInput-notchedOutline {
    border-color: #DE3341;
}

.MuiOutlinedInput-notchedOutline {
    top: 0;
    padding: 0;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-color: rgba(255, 255, 255, 0.32);
}

.jss26 {
    top: -5px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0 8px;
    overflow: hidden;
    position: absolute;
    border-style: solid;
    border-width: 1px;
    border-radius: inherit;
    pointer-events: none;
}

fieldset {
    display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
}

.MuiOutlinedInput-notchedOutline legend {
    display: none;
}


.jss28 {
    width: auto;
    height: 11px;
    display: block;
    padding: 0;
    font-size: 0.75em;
    max-width: 0.01px;
    text-align: left;
    transition: max-width 50ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
    visibility: hidden;
}

legend {
    display: block;
    padding-inline-start: 2px;
    padding-inline-end: 2px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
}

.jss28 > span {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}

.MuiFormHelperText-root.Mui-error {
    color: #DE3341;
}


.MuiFormHelperText-root {
    color: rgba(255, 255, 255, 0.72);
    margin: 0;
    font-size: 0.75rem;
    margin-top: 2.5px;
    text-align: left;
    font-family: Brutal, sans-serif;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: normal;
}

*, *::before, *::after {
    box-sizing: inherit;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.gVmJYd.gVmJYd {
    font-size: 0.75rem;
}

.gKbqoA.gKbqoA {
    margin-top: 0px;
    overflow: visible;
}

.MuiTypography-body2 {
    font-size: 0.875rem;
    font-family: Brutal, sans-serif;
    font-weight: 400;
    line-height: 1.25rem;
    letter-spacing: 0.1px;
}

.MuiTypography-root {
    margin: 0;
    text-overflow: ellipsis;
}

.MuiFormControl-fullWidth {
    width: 100%;
}

.MuiFormControl-root {
    border: 0;
    height: 85px;
    margin: 0;
    display: inline-flex;
    padding: 0;
    position: relative;
    min-width: 0;
    flex-direction: column;
    vertical-align: top;
}

.MuiInputLabel-outlined {
    margin: 0;
    z-index: 1;
    transform: translate(20px, 20px) scale(1);
    line-height: 1.4;
    pointer-events: none;
}

.MuiInputLabel-asterisk {
    color: #FFA640;
    margin-left: 5px;
}

.MuiOutlinedInput-root {
    position: relative;
    border-radius: 4px;
}


.MuiInputBase-fullWidth {
    width: 100%;
}

.MuiInputBase-root {
    color: #fff;
    cursor: text;
    display: inline-flex;
    position: relative;
    font-size: 0.875rem;
    box-sizing: border-box;
    align-items: center;
    font-family: Brutal, sans-serif;
    font-weight: 400;
    line-height: 1.43;
    letter-spacing: 0.014em;
}

label + .MuiInputBase-formControl > .MuiInputBase-input {
    padding-top: 30px;
    padding-bottom: 10px;
}

.MuiInputBase-input:invalid {
    box-shadow: none;
}

input:not(:-webkit-autofill) {
    background: transparent;
    box-shadow: none;
    animation-name: onAutoFillCancel;
}

.MuiInputBase-inputAdornedEnd {
    padding: 20px 5px 20px 20px;
}

.MuiInputBase-input {
    font: inherit;
    color: currentColor;
    width: 100%;
    border: 0;
    height: 60px;
    margin: 0;
    display: block;
    padding: 20px;
    min-width: 0;
    background: none;
    box-sizing: border-box;
    animation-name: mui-auto-fill-cancel;
    letter-spacing: inherit;
    animation-duration: 10ms;
    -webkit-tap-highlight-color: transparent;
}

input {
    writing-mode: horizontal-tb !important;
    font-style: ;
    font-variant-ligatures: ;
    font-variant-caps: ;
    font-variant-numeric: ;
    font-variant-east-asian: ;
    font-weight: ;
    font-stretch: ;
    font-size: ;
    font-family: ;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    margin: 0em;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}

.MuiInputAdornment-positionEnd {
    margin-left: 8px;
}

.MuiInputAdornment-root {
    height: 0.01em;
    display: flex;
    max-height: 2em;
    align-items: center;
    white-space: nowrap;
}

.MuiIconButton-root {
    flex: 0 0 auto;
    color: #fff;
    padding: calc(20px - 0.75rem);
    overflow: visible;
    font-size: 1.5rem;
    text-align: center;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 4px;
}

button {
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: center;
    cursor: default;
}

.MuiButton-label {
    width: 100%;
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
}

.bnjmag {
    display: flex;
    flex-flow: row wrap;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 20px;
}

.gKbqoA.gKbqoA {
    margin-top: 0px;
    overflow: visible;
}

.MuiTypography-body2 {
    font-size: 0.875rem;
    font-family: Brutal, sans-serif;
    font-weight: 400;
    line-height: 1.25rem;
    letter-spacing: 0.1px;
}

.MuiTypography-root {
    margin: 0;
    text-overflow: ellipsis;
}
.MuiIconButton-label {
    width: 100%;
    display: flex;
    align-items: inherit;
    justify-content: inherit;
}

.MuiSvgIcon-root {
    fill: currentColor;
    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 1.5rem;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    flex-shrink: 0;
    user-select: none;
}

svg:not(:root) {
    overflow: hidden;
}

.MuiFormControlLabel-root {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    margin-left: -5px;
    margin-right: 15px;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
}

.dPLqrm.dPLqrm {
    position: relative;
    pointer-events: auto;
    cursor: pointer;
    text-decoration: underline rgb(255, 255, 255);
}

.MuiTypography-colorTextPrimary {
    color: #fff;
}

.MuiTypography-root {
    margin: 0;
    text-overflow: ellipsis;
}

.jsMVcl.jsMVcl {
    color: rgb(255, 255, 255);
}


.gKbqoA.gKbqoA {
    margin-top: 0px;
    overflow: visible;
}

.MuiTypography-body2 {
    font-size: 0.875rem;
    font-family: Brutal, sans-serif;
    font-weight: 400;
    line-height: 1.25rem;
    letter-spacing: 0.1px;
}

.MuiTypography-root {
    margin: 0;
    text-overflow: ellipsis;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
}
[class*='MuiCheckbox-root'] + .MuiFormControlLabel-label, [class*='MuiRadio-root'] + .MuiFormControlLabel-label {
    margin-left: 10px;
}

.MuiTypography-body1 {
    font-size: 0.875rem;
    font-family: Brutal, sans-serif;
    font-weight: 400;
    line-height: 1.25rem;
    letter-spacing: 0.2px;
}

.MuiTypography-root {
    margin: 0;
    text-overflow: ellipsis;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.hLrQQY {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 100%;
    margin-top: 30px;
}
.MuiCheckbox-root {
    color: rgba(255, 255, 255, 0.72);
    padding: 5px;
    margin-right: 0;
}

.MuiIconButton-root {
    flex: 0 0 auto;
    color: #fff;
    padding: calc(20px - 0.75rem);
    overflow: visible;
    font-size: 1.5rem;
    text-align: center;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 4px;
}

.MuiButtonBase-root {
    color: inherit;
    border: 0;
    cursor: pointer;
    margin: 0;
    display: inline-flex;
    outline: 0;
    padding: 0;
    position: relative;
    align-items: center;
    user-select: none;
    border-radius: 0;
    vertical-align: middle;
    -moz-appearance: none;
    justify-content: center;
    text-decoration: none;
    background-color: transparent;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}
.MuiIconButton-label {
    width: 100%;
    display: flex;
    align-items: inherit;
    justify-content: inherit;
}

input:not(:-webkit-autofill) {
    background: transparent;
    box-shadow: none;
    animation-name: onAutoFillCancel;
}

.MuiButton-disableElevation.Mui-disabled {
    box-shadow: none;
}

.MuiButton-root.Mui-disabled {
    opacity: 0.5;
}

.MuiButtonBase-root.Mui-disabled {
    cursor: default;
    pointer-events: none;
}

.MuiButton-fullWidth {
    width: 100%;
}

.MuiButton-containedPrimary {
    color: #fff;
    background-color: #0074E4;
}

button#btn-submit {
    background-color: #0074e4;
    color: white;
}

.MuiButton-root {
    color: #fff;
    padding: 5px 20px;
    font-size: 0.75rem;
    min-width: 40px;
    box-sizing: border-box;
    min-height: 60px;
    text-align: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-family: Brutal, sans-serif;
    font-weight: 500;
    line-height: 1rem;
    border-radius: 4px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

.MuiButtonBase-root {
    color: inherit;
    border: 0;
    cursor: pointer;
    margin: 0;
    display: inline-flex;
    outline: 0;
    padding: 0;
    position: relative;
    align-items: center;
    user-select: none;
    border-radius: 0;
    vertical-align: middle;
    -moz-appearance: none;
    justify-content: center;
    text-decoration: none;
    background-color: transparent;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}